.idea
*.iml
*.db

*.DS_Store
.AppleDouble
.LSOverride


# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.pyc

# Test binary, build with `go test -c`
*.test

#git patch
*.patch

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Golang dependencies
vendor/*

# wallet date file
*.dat

# binary
bin/*
