#List of owners based on modu

#Default owners
*		@dustinxie

consensus/*	@CoderZhi 
ioctl/* 	@huof6829 
api/* 		@Liuhaai @millken 
config/*	@dustinxie @CoderZhi 
p2p/* 		@Liuhaai @dustinxie

action		@dustinxie
blockchain	@dustinxie
blockindex	@dustinxie
crypto		@dustinxie
db		@dustinxie
dispatcher	@dustinxie
pkg		@dustinxie
server		@dustinxie
state		@dustinxie
actpool		@Liuhaai
