name: Code Review

on:
  pull_request:
    types: [opened, reopened]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  CodeReview:
    name: Code Review - chatgpt
    runs-on: ubuntu-latest
    steps:
      - name: OpenAI ChatGPT Code Review
        uses: cirolini/chatgpt-github-actions@v1.3
        with:
          openai_api_key: ${{ secrets.OPENAI_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_pr_id: ${{ github.event.number }}
          openai_engine: "gpt-4" #optional
          openai_temperature: 0.5 #optional
          openai_max_tokens: 8192 #optional
          mode: file # file or patch